<app-decor class="block-finder__decor" type="bottom"></app-decor>
<div class="block-finder__image" style="background-image: url(assets/images/background.jpg);"></div>
<div class="block-finder__body container container--max--xl">
    <!-- <div class="block-finder__title">{{ 'TEXT_BLOCK_FINDER_TITLE'|translate }}</div> -->
    <!-- <div class="block-finder__subtitle">{{ 'TEXT_BLOCK_FINDER_SUBTITLE'|translate }}</div> -->
    <!-- <div class="warpper">
        <input
            class="radio"
            id="one"
            name="group"
            type="radio"
            checked
        >
        <input
            class="radio"
            id="two"
            name="group"
            type="radio"
        >
        <input
            class="radio"
            id="three"
            name="group"
            type="radio"
        >
        <div class="tabs">
            <label class="tab" id="one-tab" for="one">Property</label>
            <label class="tab" id="two-tab" for="two">Cars</label>
            <label class="tab" id="three-tab" for="three">Travel</label>
        </div>
        <div class="panels">
            <div class="panel" id="one-panel">


                <div class="block-finder__body container container--max--xl">

                    <form class="block-finder__form" (submit)="submit()">
                        <app-vehicle-select class="block-finder__select" [formControl]="vehicleControl"></app-vehicle-select>

                        <button class="block-finder__button" type="submit">{{ 'BUTTON_BLOCK_FINDER_SEARCH'|translate }}</button>
                    </form>
                </div>
                <div class="panel-title">Supportive Services</div>
                <img src="../../../../assets/images/icons/mortgage-empty-50.png" alt="">

            </div>


            <div class="panel" id="two-panel">


                    <div class="block-finder__body container container--max--xl">

                        <form class="block-finder__form" (submit)="submit()">
                            <app-vehicle-select class="block-finder__select" [formControl]="vehicleControl"></app-vehicle-select>

                            <button class="block-finder__button" type="submit">{{ 'BUTTON_BLOCK_FINDER_SEARCH'|translate }}</button>
                        </form>
                    </div>

            </div>
            <div class="panel" id="three-panel">


                <div class="block-finder__body container container--max--xl">

                    <form class="block-finder__form" (submit)="submit()">
                        <app-vehicle-select class="block-finder__select" [formControl]="vehicleControl"></app-vehicle-select>

                        <button class="block-finder__button" type="submit">{{ 'BUTTON_BLOCK_FINDER_SEARCH'|translate }}</button>
                    </form>
                </div>

            </div>

        </div>

    </div> -->
    <!-- <button class="btn btn-secondary btn-xl category-btn">
            <i class="fa fa-building" aria-hidden="true"></i>
            {{ 'PROPERTY' | translate}}
        </button>
        <a href="/cars">
            <button class="btn btn-secondary btn-xl category-btn">
                <i class="fa fa-car" aria-hidden="true"></i>
                {{ 'CAR' | translate}}
            </button>
        </a>
        <button class="btn btn-secondary btn-xl category-btn">
            <i class="fa fa-ticket" aria-hidden="true"></i>
            {{ 'VOUCHER' | translate}}
        </button>
        <button class="btn btn-secondary btn-xl category-btn">
            <i class="fa fa-plane" aria-hidden="true"></i>
            {{ 'TRAVEL' | translate}}
        </button>
        <button class="btn btn-secondary btn-xl category-btn">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
            {{ 'INSURANCE' | translate}}
        </button> --></div>
