<app-decor class="block-finder__decor" type="bottom"></app-decor>

<div
    class="block-finder__image"
    style="background-color: white; opacity: 1;"
></div>
<div class="block-finder__body container container--max--xl">
    <div class="block-finder__title" style="color: royalblue; margin-bottom: 30px;
    margin-top: 10px;"><i class="fas fa-house-user fa-3x"></i></div>
    <!-- <div class="block-finder__subtitle">{{ 'TEXT_BLOCK_FINDER_SUBTITLE'|translate }}</div> -->
    <div class="warpper">
        <input class="radio" id="one" name="group" type="radio" checked />
        <input class="radio" id="two" name="group" type="radio" />
        <input class="radio" id="three" name="group" type="radio" />
        <div class="tabs">
            <label class="tab" id="one-tab" for="one">Buy</label>
            <label class="tab" id="two-tab" for="two">Rent</label>
            <label class="tab" id="three-tab" for="three">Plan</label>
        </div>
        <div class="panels">
            <div class="panel" id="one-panel">
                <div class="block-finder__body container container--max--xl">
                    <form class="block-finder__form" (submit)="submit()">
                        <select class="vehicle-select__item-control">
                            <option value="none">City</option>

                            <option>
                                <input type="checkbox" name="" id="" /> City 1
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />BBB
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />CCC
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />DDD
                            </option>
                        </select>

                        <select class="vehicle-select__item-control">
                            <option value="none">Area</option>

                            <option>
                                <input type="checkbox" name="" id="" />Area
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />BBB
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />CCC
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />DDD
                            </option>
                        </select>
                        <select class="vehicle-select__item-control">
                            <option value="none">Type</option>

                            <option>
                                <input type="checkbox" name="" id="" />Select
                                Area
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />BBB
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />CCC
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />DDD
                            </option>
                        </select>
                        <select class="vehicle-select__item-control">
                            <option value="none">Number of Room</option>

                            <option>
                                <input type="checkbox" name="" id="" />Select
                                Area
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />BBB
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />CCC
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />DDD
                            </option>
                        </select>
                        <a
                            [routerLink]="['/shop/category/products']"
                            rel="noopener noreferrer"
                        >
                            <button class="block-finder__button" type="submit">
                                {{ "BUTTON_BLOCK_FINDER_SEARCH" | translate }}
                            </button></a
                        >
                    </form>
                </div>
            </div>

            <div class="panel" id="two-panel">
                <div class="block-finder__body container container--max--xl">
                    <form class="block-finder__form" (submit)="submit()">
                        <select class="vehicle-select__item-control">
                            <option value="none">Select City</option>

                            <option>
                                <input type="checkbox" name="" id="" /> City 1
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />BBB
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />CCC
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />DDD
                            </option>
                        </select>

                        <select class="vehicle-select__item-control">
                            <option value="none">Select Area</option>

                            <option>
                                <input type="checkbox" name="" id="" />Area
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />BBB
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />CCC
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />DDD
                            </option>
                        </select>
                        <select class="vehicle-select__item-control">
                            <option value="none">Select Type</option>

                            <option>
                                <input type="checkbox" name="" id="" />Select
                                Area
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />BBB
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />CCC
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />DDD
                            </option>
                        </select>
                        <select class="vehicle-select__item-control">
                            <option value="none">Number of Room</option>

                            <option>
                                <input type="checkbox" name="" id="" />Select
                                Area
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />BBB
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />CCC
                            </option>
                            <option>
                                <input type="checkbox" name="" id="" />DDD
                            </option>
                        </select>

                        <button class="block-finder__button" type="submit">
                            {{ "BUTTON_BLOCK_FINDER_SEARCH" | translate }}
                        </button>
                    </form>
                </div>
            </div>
            <div class="panel" id="three-panel">
                <h5>How much I make monthlly</h5>
                <div class="block-finder__body container container--max--xl">
                    <input
                        type="range"
                        min="1"
                        max="10000"
                        value="0"
                        class="slider"
                        #income
                        (change)="onChangeIncomeValue(income.value)"
                        data-toggle="tooltip"
                        data-placement="top"
                        trigger="click"
                        title="{{ incomeValue }}"
                    />
                    <p style="color: black;">{{ incomeValue }} $</p>
                </div>

                <h5>How much I could pay</h5>

                <div class="block-finder__body container container--max--xl">
                    <input
                        type="range"
                        min="1"
                        max="10000"
                        value="0"
                        class="slider"
                        #monthlyinstallment
                        (change)="
                            onChangeMonthlyInstallmentValue(
                                monthlyinstallment.value
                            )
                        "
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ monthlyinstallmentValue }}"
                    />
                    <p style="color: black;">{{ monthlyinstallmentValue }} $</p>
                </div>

                <h5>How much I have as other liabilities</h5>

                <div class="block-finder__body container container--max--xl">
                    <input
                        type="range"
                        min="1"
                        max="10000"
                        value="0"
                        class="slider"
                        #liabilities
                        (change)="onChangeLiabilitiesValue(liabilities.value)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ liabilitiesValue }}"
                    />
                    <p style="color: black;">{{ liabilitiesValue }} $</p>
                </div>

                <h5>How much months my plan</h5>

                <div class="block-finder__body container container--max--xl">
                    <input
                        type="range"
                        min="1"
                        max="96"
                        value="0"
                        class="slider"
                        #years
                        (change)="onChangeYearsValue(years.value)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ yearsValue }}"
                    />
                    <p style="color: black;">
                        {{ yearsValue }} Months 
                        <!-- -
                        {{ yearsValue / 12 | number: "1.1-2" }} Years -->
                    </p>
                </div>

                <h3 style="color: black;">
                    {{ yearsValue * monthlyinstallmentValue }} $
                </h3>
            </div>
        </div>
    </div>
</div>
