<app-decor class="block-finder__decor" type="bottom"></app-decor>
<div class="block-finder__image"></div>
<div class="block-finder__body container container--max--xl">
    <!-- <div class="block-finder__subtitle">{{ 'TEXT_BLOCK_FINDER_SUBTITLE'|translate }}</div> -->
    <br /><br />
    <h2>Thanks</h2>
    <h3>Our agent will contact you soon ...</h3>
    <br />
    <br />
    <br />
    <a [routerLink]="['/shop/category/cars']" class="btn btn-primary"
        >Continue Shopping</a
    >
</div>
<br />

<app-block-space layout="before-footer"></app-block-space>
