<hr>
<h5 style="margin-left:10px ;"><B> Fast Access</B></h5>
<hr>
<div id="div-car">
    <h5>Car</h5>
    <br/>
    <h6>Buy or sell your car for free.  Get discounts on car parts</h6>
</div>
<div class="navbar3">
    <a  [routerLink]="['/cars']">Buy</a>
    <a  [routerLink]="['/cars']">Rent</a>
    <a  [routerLink]="['/cars']">Plan</a>
</div>
<br>
<div id="div-property">
    <h5>Property</h5>
    <br/>
    <h6>Work out a worry-free home purchase plan. Search for a home to buy or rent here.</h6>
</div>
<div class="navbar3">
    <a [routerLink]="['/property']">Buy</a>
    <a  [routerLink]="['/property']">Rent</a>
    <a  [routerLink]="['/property']">Plan</a>
</div>
<br>

<br/>
<div id="div-travel">
    <h5>Travel</h5>
    <br/>
    <h6>Book your flights and hotels for your next trip here</h6>
</div>

<div class="navbar3">
    <a href="#">Hotels</a>
    <a href="#">Tickets</a>
    <a href="#">Insurance</a>
</div>

<br/>
<div id="div-insurance">
    <h5>Insurance</h5>
    <br/>
    <h6>Book your Insurance for you cars, health</h6>
</div>
<div class="navbar2">
    <a href="#">Cars</a>
    <a href="#">Health</a>
</div>

<br>


<br/>
<div id="div-voucher">
    <h5 style="color: whitesmoke;">Voucher</h5>
    <br/>
    <h6 style="color: whitesmoke;">Buy a voucher with minimum fees.</h6>
</div>
<div class="navbar1">
    <a href="#">Buy</a>
</div>
<br>